@import "../../theme/theming";

$side-nav-width: 264px;

.navRight {
  position: fixed;
  display: block;
  top: 0;
  right: auto;
  min-width: $side-nav-width;
  padding: 12px;
  height: 100vh;
  min-height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) -4px 0px 20px inset;
  background-color: $primary-color;
  @include transition;
  .navBrand {
    align-items: center;
    border-bottom: 1px solid #2d3f5c;
    padding: 6px 0;
    margin-top: -12px;
    .imgWrap {
      background-color: $primary-color;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      line-height: 45px;
      text-align: center;
    }
  }
  .navLinks {
    padding: 12px 0;
    height: calc(100vh - 102px);
    overflow-y: scroll;
    > li {
      margin-bottom: 8px;
      a,
      button {
        border-width: 0;
        background: transparent;
        outline: 0;
        padding: 8px 12px;
        display: block;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 700;
        color: #737e8c;
        .sIcon {
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-right: 8px;
          i {
            color: #737e8c;
          }
        }

        &:global.active {
          color: #fff;
          background-color: #2d3f5c;
          .sIcon {
            i {
              color: #fff;
            }
          }
          & ~ .dropdown {
            height: 100%;
          }
        }
        &:hover {
          background-color: #2d3f5c;
        }
      }
      .dropdown {
        height: 0;
        overflow: hidden;
        margin-left: 12px;
        margin-top: 8px;
        @include transition;
        a,
        button {
          color: #000;
        }
      }
    }
  }
}
.mainPanel {
  float: right;
  width: calc(100% - #{$side-nav-width});
  // padding-bottom: 5rem;
  @include transition;

  .bodyWrap {
    // padding: 0 20px;
    .bodyContent {
      padding: 3rem 0;
      position: relative;
      min-height: calc(100vh - 59px);
    }
  }
}

@media screen and (max-width: 991px) {
  :global(.nav-open) {
    .navRight {
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -o-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }
  }
  .navRight {
    transform: translate3d(-264px, 0, 0);
  }
  :global(.nav-open) {
    .mainPanel {
      width: calc(100% - 264px);
    }
  }
  .mainPanel {
    width: 100%;
  }
}
